<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %logger{40} - %msg%n"/>
            <Filters>
                <LevelMatchFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <LevelMatchFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
        </Console>
        <Console name="ConsoleColor" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{YYYY-MM-dd HH:mm:ss.SSS} %-5level %logger{40} - %msg%n}"/>
            <Filters>
                <LevelMatchFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
                <LevelMatchFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleColor"/>
        </Root>
    </Loggers>

</Configuration>